@import "tailwindcss";

@font-face {
    font-family: "Monad";
    src: url("/fonts/Monad.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

@theme {
    /*Purple*/
    --color-ci-purple-1: #5f4976;
    --color-ci-purple-2: #8d68ac;

    /*Indigo*/
    --color-ci-indigo-1: #4a4b78;
    --color-ci-indigo-2: #6969a9;

    --color-ci-1: #01010e;
    --color-ci-3: #D1CDEC;

    --font-header: "Monad", sans-serif;
}
