@import "tailwindcss";

@font-face {
    font-family: "Monad";
    src: url("/fonts/Monad.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-ci-1: #01010e;
    --color-ci-2: #44334A;
    --color-ci-3: #D1CDEC;

    --font-header: "Monad", sans-serif;
}
