@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "Monad";
    src: url("/fonts/Monad.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-ci-purple-1: #5f4976;
    --color-ci-purple-2: #8d68ac;

    --color-ci-indigo-1: #4a4b78;
    --color-ci-indigo-2: #6969a9;

    --color-ci-blue-1: #2a4369;
    --color-ci-blue-2: #4167b0;
    --color-ci-1: #01010e;
    --color-ci-3: #D1CDEC;

    --font-header: "Monad", sans-serif;
    --font-primary: "Raleway", sans-serif;
}
