.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2rem;
    margin: 0 10%;

    .gallery-container {
        height: 15rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: magenta;
        padding: 20px;

        img {
            width: 200px;
            height: auto;
        }
    }
}