* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(49, 54, 58);
    color: white;
    min-height: 100vh;
}

/*header*/
header {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #222;
    box-shadow: 0 10px 15px #111;
    z-index: 1000;
    position: sticky;
}

/*logo*/
.logo {
    font-weight: 600;
    font-size: 30px;   
}


/*navbar*/

.navbar button {
    margin-left: 40px;
    text-decoration: none;
    color: white;
    transition: linear 0.3s;
    background-color: transparent;
    border: none;
    font-size: 17px;
}

.navbar button:hover{
    text-shadow: 0 0 20px white;
    transition: linear 0.3s;
}

/*section*/
section {
    display: flex;
    height: 100vh;
    width: auto;
    align-items: center;
    justify-content: center;
}

/*section1 - Home*/
#about{
    justify-content: center;
}

#about .hero{
    width: 50vh;
    font-size: 20px;
    z-index: 1;
}

#about .hero .name {
    font-size: 70px;
    font-weight: 600;
}

#about .social {
    margin-left: 30px;
}

#about .hero button, #about .hero button a {
    font-size: 30px;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: black;
    transition: ease 0.3s;
}

#about .hero button:hover {
    background-color: aquamarine;
    box-shadow: 0 0 20px aqua;
    transition: ease 0.3s;
}

#about table {
    margin: 10px;
}

#about table td {
    padding: 10px 5px;
    font-size: 23.5px;
}
