* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(StylingImg/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    height: 3000px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#about {
    background-color: blue;
    font-family: "Poiret One", sans-serif;
    letter-spacing: 0.3rem;
    width: 100vw;
    display: block;
}

#about .name {
    font-size: 5em;
    font-weight: bold;
    left: 50%;
    position: fixed;
}