@media screen and (max-width: 1080px) {
    #about {
        flex-direction: column;
    }

    #about .basicinfo {
        width: 60vw;
    }

    #about .media {
        margin-bottom: 2em;
        width: 200%;
    }


    #about .exp {
        width: calc(100% - 2em);
    }
}