.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1rem;
    margin: 0 10%;

    h1 {
        font-size: 45px;
    }
    .gallery-container {
        text-align: center;
        display: grid;
        gap: 1rem;
        img {
            width: 300px;
            height: auto;
        }
    }
}