#home h1 {
    animation: hero-appear-Mstxz 1.5s cubic-bezier(0.25,1,0.25,1) both;
    animation-delay: 0.5s;
}

@keyframes hero-appear-Mstxz {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#home h4 {
    animation: hero-appear-h4 1.5s ease both;
    animation-delay: 1s;
}

@keyframes hero-appear-h4 {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#home div a:not(#igaccount){
    animation: hero-appear-div 1.5s both;
}

#home div a:not(#igaccount):nth-child(1){
    animation-delay: 1.2s;
}

#home div a:not(#igaccount):nth-child(2){
    animation-delay: 1.4s;
}

#home div a:not(#igaccount):nth-child(3){
    animation-delay: 1.6s;
}

#home div a:not(#igaccount):nth-child(4){
    animation-delay: 1.8s;
}

#home div a:not(#igaccount):nth-child(5){
    animation-delay: 2s;
}

#home div #igaccount {
    animation: hero-appear-div 0.5s both;
}

@keyframes hero-appear-div {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}