section *{
    animation: appear 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}

@keyframes appear{
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
    }
}

#work div a:hover {
    animation: movement1 1s ease infinite;
    transition: all;
}

@keyframes movement1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
